<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>instan</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
<body>
    
    <div class="contentsWrap">
        <form method="post" action=".">
        {% csrf_token %}
        <div class="loginWindow">
            {% if error %}
            <script type="text/javascript">
                alert("{{error}}");
            </script>             
            {% endif %}
            <img src="{% static "img/logo.png" %}" alt="" id="instaLogo">
            <input type="text" placeholder="아이디" class="inlineToBlock" name="id">
            <input type="password" placeholder="비밀번호" class="inlineToBlock" name="pw">
        <button class="inlineToBlock ordinaryLogin unactivatedLoginColor" type="submit">로그인</button>
        
        </form>
    </div>
    <div class="haveAccount">
        <p>계정이 없으신가요?
          <a href="/register" class="noneunderline">가입하기</a>
        </p>
    </div>
  </div>

<script src="{% static 'js/login1.js' %}"></script>
</body>
</html>